/* 賬號 */
.account-page{
    width: 100%;
    padding: 50px ;
}

.form-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 30px;
    background-image: url('../image/cat.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 20px;
    position: relative;
}

.form-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.form-container{
    width: 200px;
    height: 320px;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-btn span{
    cursor: pointer;
    display: inline-block;
}

form input{
    margin: 10px auto;
    padding: 5px 5px;
    border: none;
    border: 1px solid #333;
    outline: none;
}

form .login-btn{
    margin: 10px auto;
    padding: 5px 5px;
    border: none;
    border: 1px solid #333;
    outline: none;
}

.form a{
    text-decoration: underline;
    color: #333;
}

.form-link{
    text-align: center;
    margin-top: 80px;
}

.form-message{
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 300px;
    padding: 20px;
    text-align: center;
}